@font-face {
  font-family: "Anglecia Pro Display";
  src: url("/fonts/AngleciaProDisplayRegular") format("otf");
  src: url("/fonts/AngleciaProDisplayBold") format("otf");
  src: url("/fonts/AngleciaProDisplayItalic") format("otf");
}
a{
  color:inherit;
  text-decoration:none;
}
body {
  width: 1440px;
  margin: 10 auto;
  background: #ECE9E7;
  height: 8739px;
  position: relative;
  font-family: Anglecia Pro Display;
}
.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  padding: 0 250px;
  border-bottom: 2px solid black;
  font-size: 18px;
  }
.name {
  font-size: 110px;
  text-align: center;
  font-style: normal;
  margin: 30 auto;
}
.object1{
  position: absolute;
  width: 1670.64px;
  height: 1349.3px;
  left: -144.89px;
  top: 332px;
}
.text1{
  position: absolute;
  width: 605.24px;
  height: 165.18px;
  left: 192.85px;
  top: 621.68px;
  font-size: 24px;
  line-height: 30px;
}
.text2{
  position: absolute;
  width: 1152px;
  height: 121px;
  left: 192px;
  top: 1745.78px;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
}
.text3{
  position: absolute;
  width: 618px;
  height: 199px;
  left: 288px;
  top: 1968.38px;font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
}
