@font-face {
  font-family: "Anglecia Pro Display";
  src: url("/fonts/AngleciaProDisplayRegular.otf") format("otf");
  src: url("/fonts/AngleciaProDisplayBold.otf") format("otf");
  src: url("/fonts/AngleciaProDisplayItalic.otf") format("otf");
}
html{
}
p{
  line-height: normal;
}
a{
  color:inherit;
  text-decoration:none;
}
h3{
  font-weight:bold;
  line-height: 2;
}
body {
background-color:black;
}
.main{
  background-color:black;
  width: 1440px;
  height: 8739px;
  margin: 0 auto;
  background: #ECE9E7;
  display: block;
  position: relative;
  font-family: Anglecia Pro Display;
  overflow-y: hidden;
  overflow-x: hidden;
}
.m1{
  position: absolute;
  width: 102px;
  height: 23px;
  left: 289px;
  top: 43px;
}
.m2{
  position: absolute;
  width: 64px;
  height: 23px;
  left: 482px;
  top: 43px;
}
.m3{
  position: absolute;
  width: 117px;
  height: 23px;
  left: 674px;
  top: 43px;
}
.m4{
  position: absolute;
  width: 107px;
  height: 23px;
  left: 867px;
  top: 43px;
}
.m5{
  position: absolute;
  width: 113px;
  height: 23px;
  left: 1060px;
  top: 43.72px;
}
.menupictures{
  position: absolute;
  width: 827px;
  height: 55px;
  left: 289px;
  top: 27px;
}
.menutext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 109px;
  padding: 0 285px;
  border-bottom: 2px solid black;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  }
.object2{
  position: absolute;
  width: 1115px;
  height: 462px;
  left: -31px;
  top: 146px;
}
.name {
  position: relative;
  font-size: 110px;
  line-height: 137px;
  text-align: center;
  margin: 141px auto auto;
}
.text4{
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  position: absolute;
  width: 510px;
  height: 59px;
  left: 192px;
  top: 389.89px;
}
.object15{
  position: absolute;
  width: 1376px;
  height: 825px;
  left: 38px;
  top: 7512px;
  z-index: 1;
}
.object1{
  position: absolute;
  width: 1682px;
  height: 1372px;
  left: -145px;
  top: 332px;
}
.text1{
  position: relative;
  margin: 250 auto auto 191px;
  font-size: 24px;
  line-height: 30px;
}
.object3{
  position: absolute;
  width: 701px;
  height: 295px;
  left: 630px;
  top: 1641px;
}
.text2{
  position: relative;
  margin: 960 auto auto 177;
  font-size: 48px;
  line-height: 60px;
}
.text3{
  position: relative;
  margin: 101 auto auto 282;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
}
.text5{
  position: relative;
  margin: 292 auto auto 575;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
}
.object4{
  position: absolute;
  width: 1414px;
  height: 462px;
  left: -68px;
  top: 1996px;
}
.object5{
  position: absolute;
  width: 1721px;
  height: 1974px;
  left: -130px;
  top: 2268px;
}
.object6{
  position: absolute;
  width: 1247px;
  height: 626px;
  left: 96px;
  top: 2972px;
}
.text6{
  position:relative;
  margin: 465px auto auto;
  text-align: center;
  font-size: 48px;
}
.text7{
  position:relative;
  margin: 355px auto auto 166px;
  font-size: 24px;
}
.text8{
  position:relative;
  margin: 125px auto auto 780px;
  font-size: 24px;
}
.object7{
  position: absolute;
  width: 1390px;
  height: 463px;
  left: 119px;
  top: 4292px;
}
.object8{
  position: absolute;
  width: 1738px;
  height: 605px;
  left: -134px;
  top: 6018px;
}
.object9{
  position: relative ;
  margin: -50 auto auto -10;
}
.object10{
  position: absolute;
  width: 680px;
  height: 469px;
  left: 79px;
  top: 3447px;
}
.object11{
  position: absolute;
  width: 663px;
  height: 457px;
  left: 680px;
  top: 3647px;
}
.object12{
  position: absolute;
  width: 1782px;
  height: 383px;
  left: -160px;
  top: 5494px;
}
.arch{
  font-size: 24px;
  line-height: 30px;
  margin: 340 auto auto;
}
.a1{
  margin: auto auto auto 193;
}
.a2{
  margin: 63 auto auto 1156;
}
.a3{
  margin: -5 auto auto 578;
}
.a4{
  margin: 325 auto auto 1060;
}
.a5{
  margin: 10 auto auto 96;
}
.nacherttxt{
  position: relative;
  font-size: 40;
  margin: 0 auto auto 250;
}
.text9{
  position: absolute;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  width: 306px;
  height: 74px;
  left: 577px;
  top: 6237px;
}
.text10{
  position: absolute;
  width: 530px;
  height: 74px;
  left: 200px;
  top: 6610px;
  font-size: 24px;
  line-height: 30px;

  transform: rotate(14.59deg);
}
.object13{
  position: absolute;
  width: 1094px;
  height: 1047px;
  left: -253px;
  top: 6408px;
}
.object14{
  position: absolute;
  width: 1050px;
  height: 1085px;
  left: 967px;
  top: 6583px;
}
.text11{
  font-size: 24;
  margin: 1500 auto auto 753;
}
.journals{
  margin: 100 auto auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 50;
  font-size: 18px;
  line-height: 22px;
}
.caption{
  font-size: 18px;
  line-height: 22px;
}
.footer{
  background-color: black;
  color: white;
  margin: 900 auto auto;
  padding: 104;
  font-size: 24px;
  line-height: 30px;
}
.footertxt{
  margin: -63 auto;
}
.logo{
  margin: -50 auto auto 850;
}
.n1{
  font-weight:250;
}
.n2{
  font-weight:300;
}
.n3{
  font-weight:normal;
}
.n4{
  font-weight:500;
}
.n5{
  font-weight:600;
}
.n6{
  font-weight:bold;
}
.n7{
  font-weight:900;
}
.j1{
  position: absolute;
  width: 363px;
  height: 477px;
  left: 79px;
  top: 7731px;
  z-index:2;
}
.j2{
  position: absolute;
  width: 368px;
  height: 477px;
  left: 532px;
  top: 7731px;
  z-index:2;
}
.j3{
  position: absolute;
  width: 354px;
  height: 477px;
  left: 991px;
  top: 7731px;
  z-index:2;
}
