@font-face {
  font-family: "Anglecia Pro Display";
  src: url("/fonts/AngleciaProDisplayRegular") format("otf");
  src: url("/fonts/AngleciaProDisplayBold") format("otf");
  src: url("/fonts/AngleciaProDisplayItalic") format("otf");
}
p{
  line-height: normal;
}
a{
  color:inherit;
  text-decoration:none;
}
h3{
  font-weight:bold;
  line-height: 2;
}
body {
background-color:black;
}
.main{
  width: 1440px;
  margin: 0 auto;
  background: #ECE9E7;
  display: block;
  height: 8739px;
  position: relative;
  font-family: Anglecia Pro Display;
}
.menupictures{
  position: absolute;
  width: 827.5px;
  height: 55.16px;
  left: 289px;
  top: 27.64px;
}
.menutext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 109px;
  padding: 0 285px;
  border-bottom: 2px solid black;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  }
.object2{
  position: absolute;
  width: 1115.97px;
  height: 462.01px;
  left: -31.39px;
  top: 146.67px;
}
.name {
  position: relative;
  font-size: 110px;
  line-height: 137px;
  text-align: center;
  margin: 141px auto auto;
}
.object1{
  position: absolute;
  width: 1682.21px;
  height: 1372.66px;
  left: -145.04px;
  top: 332.08px;
}
.text4{
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  margin: auto auto auto 191.5;;
}
.text1{
  position: relative;
  margin: 191.5px auto auto 191px;
  font-size: 24px;
  line-height: 30px;
}
.object3{
  position: absolute;
  width: 701.44px;
  height: 295.51px;
  left: 630.56px;
  top: 1641.03px;
}
.text2{
  position: relative;
  margin: 960 auto auto 177;
  font-size: 48px;
  line-height: 60px;
}
.text3{
  position: relative;
  margin: 101 auto auto 282;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
}
.text5{
  position: relative;
  margin: 292 auto auto 575;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
}
.object4{
  position: absolute;
  width: 1414.3px;
  height: 462.15px;
  left: -68.25px;
  top: 1996.77px;
}
.object5{
  position: absolute;
  width: 1721.92px;
  height: 1974.31px;
  left: -158.13px;
  top: 2268.84px;
}
.object6{
  position: absolute;
  width: 1247.79px;
  height: 626.68px;
  left: 96.1px;
  top: 2972.72px;
}
.text6{
  position:relative;
  margin: 465px auto auto;
  text-align: center;
  font-size: 48px;
}
.text7{
  position:relative;
  margin: 355px auto auto 166px;
  font-size: 24px;
}
.text8{
  position:relative;
  margin: 125px auto auto 780px;
  font-size: 24px;
}
.object7{
  position: absolute;
  width: 1390.67px;
  height: 463.9px;
  left: 119.66px;
  top: 4292.51px;
}
.object8{
  position: absolute;
  width: 1738.23px;
  height: 605.18px;
  left: -134.31px;
  top: 6018.37px;
}
.object9{
  position: absolute;
  width: 1537px;
  height: 711.79px;
  left: -25.43px;
  top: 4762.28px;
}
.object10{
  position: absolute;
  width: 680.77px;
  height: 469.08px;
  left: 79.95px;
  top: 3447.25px;
}
.object11{
  position: absolute;
  width: 663.52px;
  height: 457.27px;
  left: 680.38px;
  top: 3647.36px;
}
